Da:[cake-surname] [cake-name] <[cake-email]>
Oggetto: ORDINE_TORTA [cake-surname] [cake-date]

[cake-name]
[cake-surname]
[cake-email]
[cake-mobile]

[cake-delivery-address],[cake-delivery-city]

<p>
    <strong>
        Torte: [box-cakes]
        Scritta: [cake-notes]
        Data consegna: [cake-date]
    </strong>
</p>

<p>
    Nome: [cake-name]<br />
    Cognome: [cake-surname]<br />
    Email: [cake-email]<br />
    Cellulare: [cake-mobile]
</p>

<p>
    <strong>Indirizzo di consegna:</strong><br />
    [cake-delivery-address]<br />
    [cake-delivery-city]<br />
    Citofonare: <strong>[cake-ring]</strong>
</p>

--
This e-mail was sent from a delivery form on Pasticceria Buosi (http://www.buosi.it)




<br />
Gentile [cake-name],<br />
<br />
questa è la copia dell'ordine inviato a Pasticceria Buosi Food Experience.<br />
Il tuo ordine <strong>non</strong> è ancora confermato.
Attendi la conferma che arriverà successivamente via email insieme alle indicazioni per il pagamento.<br />
Se noti degli errori rispondi a questa email.
<br />
Grazie
Pasticceria Buosi Food Experience sas
<br />
_____________________________________________________
<br />

Corpo del messaggio:

<p>
    <strong>
        Torte: [box-cakes]
        Scritta: [cake-notes]
        Data consegna: [cake-date]
    </strong>
</p>

<p>
    Nome: [cake-name]<br />
    Cognome: [cake-surname]<br />
    Email: [cake-email]<br />
    Cellulare: [cake-mobile]
</p>

<p>
    <strong>Indirizzo di consegna:</strong><br />
    [cake-delivery-address]<br />
    [cake-delivery-city]<br />
    Citofonare: <strong>[cake-ring]</strong>
</p>

--
This e-mail was sent from a delivery form on Pasticceria Buosi (http://www.buosi.it)
