<div class="b-label t-center">
    ORDINA I TUOI PRODOTTI PASQUALI
</div>
<div class="b-label">
    Ordina le tue uova, selezionando quantità, tipologia di cioccolato, grammatura e tipologia di confezionamento desiderati:
</div>
<div class="ml-30">
    <div class="ml-30 row-sel st-sel">
        Quantità [select box-st-n class:mine-select class:mine-col-3 use_label_element "" "1" "2" "3" "4" "5"]
        Tipo [select box-st-t class:mine-select class:mine-col-3 use_label_element "" "fondente" "latte" "caramello"]
        Uovo [select box-st-p class:mine-select class:mine-col-3 use_label_element "" "200gr senza confezione 15€ cad" "300gr senza confezione 20€ cad" "400gr senza confezione 25€ cad" "300gr confezionato 30€ cad" "400gr confezionato 40€ cad"]
    </div>
    <div class="separator"></div>
    <div class="ml-30 row-sel nd-sel">
        Quantità [select box-nd-n class:mine-select class:mine-col-3 use_label_element "" "1" "2" "3" "4" "5"]
        Tipo [select box-nd-t class:mine-select class:mine-col-3 use_label_element "" "fondente" "latte" "caramello"]
        Uovo [select box-nd-p class:mine-select class:mine-col-3 use_label_element "" "200gr senza confezione 15€ cad" "300gr senza confezione 20€ cad" "400gr senza confezione 25€ cad" "300gr confezionato 30€ cad" "400gr confezionato 40€ cad"]
    </div>
    <div class="separator"></div>
    <div class="ml-30 row-sel rd-sel">
        Quantità [select box-rd-n class:mine-select class:mine-col-3 use_label_element "" "1" "2" "3" "4" "5"]
        Tpo [select box-rd-t class:mine-select class:mine-col-3 use_label_element "" "fondente" "latte" "caramello"]
        Uovo [select box-rd-p class:mine-select class:mine-col-3 use_label_element "" "200gr senza confezione 15€ cad" "300gr senza confezione 20€ cad" "400gr senza confezione 25€ cad" "300gr confezionato 30€ cad" "400gr confezionato 40€ cad"]
    </div>
    <div class="separator"></div>
    <div class="ml-30 row-sel th4-sel">
        Quantità [select box-th4-n class:mine-select class:mine-col-3 use_label_element "" "1" "2" "3" "4" "5"]
        Tipo [select box-th4-t class:mine-select class:mine-col-3 use_label_element "" "fondente" "latte" "caramello"]
        Uovo [select box-th4-p class:mine-select class:mine-col-3 use_label_element "" "200gr senza confezione 15€ cad" "300gr senza confezione 20€ cad" "400gr senza confezione 25€ cad" "300gr confezionato 30€ cad" "400gr confezionato 40€ cad"]
    </div>
    <div class="separator"></div>
    <div class="ml-30 row-sel th5-sel">
        Quantità [select box-th5-n class:mine-select class:mine-col-3 use_label_element "" "1" "2" "3" "4" "5"]
        Tipo [select box-th5-t class:mine-select class:mine-col-3 use_label_element "" "fondente" "latte" "caramello"]
        Uovo [select box-th5-p class:mine-select class:mine-col-3 use_label_element "" "200gr senza confezione 15€ cad" "300gr senza confezione 20€ cad" "400gr senza confezione 25€ cad" "300gr confezionato 30€ cad" "400gr confezionato 40€ cad"]
    </div>
</div>


<div class="b-label">
    Ordina gli altri prodotti pasquali:
</div>
<div class="ml-30 products">
    [select box-col-0 class:mine-select class:mine-col-3 use_label_element "0" "1" "2" "3" "4" "5"]
    COLOMBA 500 GR - 20€ cad

    [select box-col-1 class:mine-select class:mine-col-3 use_label_element "0" "1" "2" "3" "4" "5"]
    COLOMBA 1 KG  - 40€ cad

    [select box-con-4 class:mine-select class:mine-col-3 use_label_element "0" "1" "2" "3" "4" "5"]
    SET 4 CONIGLIETTI  - 8€ cad

    [select box-ov class:mine-select class:mine-col-3 use_label_element "0" "1" "2" "3" "4" "5"]
    OVETTI ASSORTITI - 7€ cad

    [select box-bis class:mine-select class:mine-col-3 use_label_element "0" "1" "2" "3" "4" "5"]
    VASSOIO BISCOTTI PASQUALI - 15€ cad

    [select box-cio class:mine-select class:mine-col-3 use_label_element "0" "1" "2" "3" "4" "5"]
    DEGUSTAZIONE CIOCCOLATINI - 18€ cad

    [select box-con-p class:mine-select class:mine-col-3 use_label_element "0" "1" "2" "3" "4" "5"]
    CONIGLIO PITTORE - 15€ cad [select box-con-pt class:mine-select class:mine-col-3 use_label_element "" "fondente" "latte" "caramello"]

    [select box-con-c class:mine-select class:mine-col-3 use_label_element "0" "1" "2" "3" "4" "5"]
    CONIGLIO CARIOLA - 18€ cad [select box-con-ct class:mine-select class:mine-col-3 use_label_element "" "fondente" "latte" "caramello"]

</div>

<div>
    <div class="b-label">
        Nome *
    </div>
    [text* easter-name]
</div>

<div>
    <div class="b-label">
        Cognome *
    </div>
    [text* easter-surname]
</div>

<div>
    <div class="b-label">
        Email *
    </div>
    [email* easter-email]
</div>

<div>
    <div class="b-label">
        Cellulare *
    </div>
    [tel* easter-mobile]
</div>

<div>
    <div class="b-label">
        Indirizzo di consegna<br/>
    </div>
    <div class="ml-30">
        <div class="sub-label">
            Via e numero civico *
        </div>
        [text* easter-delivery-address]
        <div class="sub-label">
            Città *
        </div>
        [select* easter-delivery-city class:mine-select include_blank "Castiglione Olona" "Malnate" "Tradate" "Varese" "Vedano Olona" "Venegono Inferiore" "Venegono Superiore"]
        <div class="sub-label">
            Nominativo sul citofono *
        </div>
        [text* easter-ring]
    </div>
</div>
<p class="mt-30">
    [acceptance easter-accept]&nbsp;Ho letto e acconsento al <a href="http://www.buosi.it/contatti/privacy-policy/" target="_blank">trattamento dei dati personali *</a>
</p>
<p>[submit "Invia"]</p>
