Da:[easter-surname] [easter-name] <[easter-email]>
Oggetto: ORDINE_PASQUA [easter-delivery-city] - [easter-surname] [easter-name]


[easter-surname]
[easter-email]
[easter-mobile]
[easter-delivery-address]
[easter-delivery-city]
[easter-ring]

<p>
    <strong>UOVA:</strong>
    Qnt <strong>[box-st-n]</strong>
    Tipo <strong>[box-st-t]</strong>
    Uovo <strong>[box-st-p]</strong>

    Qnt <strong>[box-nd-n]</strong>
    Tipo <strong>[box-nd-t]</strong>
    Uovo <strong>[box-nd-p]</strong>

    Qnt <strong>[box-rd-n]</strong>
    Tpo <strong>[box-rd-t]</strong>
    Uovo <strong>[box-rd-p]</strong>

    Qnt <strong>[box-th4-n]</strong>
    Tipo <strong>[box-th4-t]</strong>
    Uovo <strong>[box-th4-p]</strong>

    Qnt <strong>[box-th5-n]</strong>
    Tipo <strong>[box-th5-t]</strong>
    Uovo <strong>[box-th5-p]</strong>
</p>

<p>
    <strong>PRODOTTI:</strong>
    Colomba 500gr:      <strong>[box-col-0]</strong>
    Colomba 1kg:        <strong>[box-col-1]</strong>
    Set 4 coniglietti:  <strong>[box-con-4]</strong>
    Ovetti assortiti:   <strong>[box-ov]</strong>
    Vassoio biscotti:   <strong>[box-bis]</strong>
    Deg. cioccolatini:  <strong>[box-cio]</strong>
    Coniglio pittore:   <strong>[box-con-p] [box-con-pt]</strong>
    Coniglio cariola:   <strong>[box-con-c] [box-con-ct]</strong>
</p>

<p>
    Nome: [easter-name]<br />
    Cognome: [easter-surname]<br />
    Email: [easter-email]<br />
    Cellulare: [easter-mobile]
</p>

<p>
    <strong>Indirizzo di consegna:</strong><br />
    [easter-delivery-address]<br />
    [easter-delivery-city]<br />
    Citofonare: <strong>[easter-ring]</strong>
</p>

--
This e-mail was sent from a delivery form on Pasticceria Buosi (http://www.buosi.it)




<br />
Gentile [easter-name],<br />
<br />
questa è la copia dell'ordine inviato a Pasticceria Buosi Food Experience.<br />
Il tuo ordine <strong>non</strong> è ancora confermato.
Attendi la conferma che arriverà successivamente via email insieme alle indicazioni per il pagamento che andrà eseguito in anticipo tramite <strong>bonifico bancario</strong>.<br />
Se noti degli errori rispondi a questa email.
<br />
Grazie
Pasticceria Buosi Food Experience sas
<br />
_____________________________________________________
<br />

Corpo del messaggio:

<p>
    <strong>UOVA:</strong>
    Quantità [box-st-n]
    Tipo [box-st-t]
    Uovo [box-st-p]

    Quantità [box-nd-n]
    Tipo [box-nd-t]
    Uovo [box-nd-p]

    Quantità [box-rd-n]
    Tpo [box-rd-t]
    Uovo [box-rd-p]

    Quantità [box-th4-n]
    Tipo [box-th4-t]
    Uovo [box-th4-p]

    Quantità [box-th5-n]
    Tipo [box-th5-t]
    Uovo [box-th5-p]
</p>

<p>
    <strong>PRODOTTI:</strong>
    Colomba 500gr:      [box-col-0]
    Colomba 1kg:        [box-col-1]
    Set 4 coniglietti:  [box-con-4]
    Ovetti assortiti:   [box-ov]
    Vassoio biscotti:   [box-bis]
    Deg. cioccolatini:  [box-cio]
    Coniglio pittore:   [box-con-p] [box-con-pt]
    Coniglio cariola:   [box-con-c] [box-con-ct]
</p>

<p>
    Nome: [easter-name]<br />
    Cognome: [easter-surname]<br />
    Email: [easter-email]<br />
    Cellulare: [easter-mobile]
</p>

<p>
    <strong>Indirizzo di consegna:</strong><br />
    [easter-delivery-address]<br />
    [easter-delivery-city]<br />
    Citofonare: <strong>[easter-ring]</strong>
</p>

--
This e-mail was sent from a delivery form on Pasticceria Buosi (http://www.buosi.it)
