Da:[iceTa-surname] [iceTa-name] <[iceTa-email]>
Oggetto: ORDINE_GELATO [iceTa-surname] [iceTa-date]

[iceTa-date]
[iceTa-name]
[iceTa-surname]
[iceTa-mobile]
[iceTa-email]
[iceTa-delivery-address]
[iceTa-delivery-city]
[iceTa-ring]

<p>
    <strong>
        [box-iceTa-0] Nocciola Piemonte IGP e Pistacchio riserva Feudo San Biagio Sicilia
        [box-iceTa-1] Crema alla Vaniglia Bourbon del Madagascar e cioccolato fondente selezione Buosi
        [box-iceTa-2] Limone della Costiera Amalfitana e Fragola Candonga Basilicata
        [box-iceTa-3] Sacher Buosi e fior di latte Varese
        [box-iceTa-4] Mango, Ananas Del Monte via Aerea e Banane della Costa Rica
        [box-iceTa-5] Tiramisù e millefoglie
        [box-iceTa-6] Cioccolato bianco e Pralinato al Pistacchio
        [box-iceTa-7] Cioccolato fondente Venezuela 72% e Cioccolato al caramello

        Data consegna: [ice-date]
    </strong>
</p>

<p>
    Nome: [iceTa-name]<br />
    Cognome: [iceTa-surname]<br />
    Email: [iceTa-email]<br />
    Cellulare: [iceTa-mobile]
</p>

<p>
    <strong>Indirizzo di consegna:</strong><br />
    [iceTa-delivery-address]<br />
    [iceTa-delivery-city]<br />
    Citofonare: <strong>[iceTa-ring]</strong>
</p>

--
This e-mail was sent from a delivery form on Pasticceria Buosi (http://www.buosi.it)




<br />
Gentile [ice-name],<br />
<br />
questa è la copia dell'ordine inviato a Pasticceria Buosi Food Experience.<br />
Il tuo ordine <strong>non</strong> è ancora confermato.
Attendi la conferma che arriverà successivamente via email insieme alle indicazioni per il pagamento.<br />
Se noti degli errori rispondi a questa email.
<br />
Grazie
Pasticceria Buosi Food Experience sas
<br />
_____________________________________________________
<br />

Corpo del messaggio:

<p>
    <strong>
        [box-iceTa-0] Nocciola Piemonte IGP e Pistacchio riserva Feudo San Biagio Sicilia
        [box-iceTa-1] Crema alla Vaniglia Bourbon del Madagascar e cioccolato fondente selezione Buosi
        [box-iceTa-2] Limone della Costiera Amalfitana e Fragola Candonga Basilicata
        [box-iceTa-3] Sacher Buosi e fior di latte Varese
        [box-iceTa-4] Mango, Ananas Del Monte via Aerea e Banane della Costa Rica
        [box-iceTa-5] Tiramisù e millefoglie
        [box-iceTa-6] Cioccolato bianco e Pralinato al Pistacchio
        [box-iceTa-7] Cioccolato fondente Venezuela 72% e Cioccolato al caramello

        Data consegna: [ice-date]
    </strong>
</p>

<p>
    Nome: [iceTa-name]<br />
    Cognome: [iceTa-surname]<br />
    Email: [iceTa-email]<br />
    Cellulare: [iceTa-mobile]
</p>

<p>
    <strong>Indirizzo di consegna:</strong><br />
    [iceTa-delivery-address]<br />
    [iceTa-delivery-city]<br />
    Citofonare: <strong>[iceTa-ring]</strong>
</p>

--
This e-mail was sent from a delivery form on Pasticceria Buosi (http://www.buosi.it)
