Da:[mum-surname] [mum-name] <[mum-email]>
Oggetto: ORDINE_FESTA_MAMMA [mum-surname] [mum-date]

<strong>
    [box-mum]
    Scritta: [mum-notes]

</strong>
[mum-name]
[mum-surname]
[mum-mobile]
[mum-email]
[mum-choice]
[mum-address]
[mum-city]
Citofonare:[mum-ring]

<p>
    <strong>
        Torta: [box-mumcakes]
        Scritta: [mum-notes]
    </strong>
</p>

<p>
    Nome: [mum-name]<br />
    Cognome: [mum-surname]<br />
    Email: [mum-email]<br />
    Cellulare: [mum-mobile]
</p>

<p>
    <strong>Indirizzo di consegna:</strong><br />
    [mum-address]<br />
    [mum-city]<br />
    Citofonare: <strong>[mum-ring]</strong>
</p>

--
This e-mail was sent from a delivery form on Pasticceria Buosi (http://www.buosi.it)






<br />
Gentile [ice-name],<br />
<br />
questa è la copia dell'ordine inviato a Pasticceria Buosi Food Experience.<br />
Il tuo ordine <strong>non</strong> è ancora confermato.
Attendi la conferma che arriverà successivamente via email insieme alle indicazioni per il pagamento.<br />
Se noti degli errori rispondi a questa email.
<br />
Grazie
Pasticceria Buosi Food Experience sas
<br />
_____________________________________________________
<br />

Corpo del messaggio:

<p>
    <strong>
        Vaschette da 1 kg:
        Nocciola Piemonte IGP e Pistacchio riserva Feudo San Biagio Sicilia: [box-ice-0]
        Crema alla Vaniglia Bourbon del Madagascar e cioccolato fondente selezione Buosi: [box-ice-1]
        Limone della Costiera Amalfitana e Fragola Candonga Basilicata: [box-ice-2]
        Sacher Buosi e fior di latte Varese: [box-ice-3]
        Ananas Del Monte via Aerea e Banane della Costa Rica: [box-ice-4]

        Data consegna: [ice-date]
    </strong>
</p>

<p>
    Nome: [ice-name]<br />
    Cognome: [ice-surname]<br />
    Email: [ice-email]<br />
    Cellulare: [ice-mobile]
</p>

<p>
    <strong>Indirizzo di consegna:</strong><br />
    [ice-delivery-address]<br />
    [ice-delivery-city]<br />
    Citofonare: <strong>[ice-ring]</strong>
</p>

--
This e-mail was sent from a delivery form on Pasticceria Buosi (http://www.buosi.it)
