<script>
    jQuery(function ($) {
        function address(road, mylocation) {
            this.road = road;
            this.mylocation = mylocation;
			}
        var adresses = [new address("", "")
		, new address("piazza Cesare Beccaria 6", "varese")
		, new address("via Baracca 18", "venegono")
		, new address("", "")
        ];
        $(".box-week").change(function () {
            let optionChoice = $(this).children(":selected");
            $(".week-choice input").val(optionChoice.val());
            var id = optionChoice.attr("id");
            var temp = adresses[id];
            $(".week-address input").val(temp.road);
            var tempmylocation = temp.mylocation;
            if (tempmylocation === "venegono") {
                $('.week-city option[value="Venegono Superiore"]').prop('selected', true);
                $(".week-ring input").val("Pasticceria Buosi");
                $('.address-section').hide();
				} else if (tempmylocation === "varese") {
                $('.week-city option[value="Varese"]').prop('selected', true);
                $(".week-ring input").val("Pasticceria Buosi");
                $('.address-section').hide();
				} else {
                $('.week-city option[value="Varese"]').prop('selected', false);
                $('.week-city option[value="Venegono Superiore"]').prop('selected', false);
                $('.week-city option[value=""]').prop('selected', true);
                $(".week-ring input").val("");
                $('.address-section').show();
			}
		});
	});
</script>




<div class="b-label t-center">
    ORDINA IL TUO BOX
</div>

<div class="b-label">
    Prodotti:
    <div class="sub-label">
        Box Colazione
        <div class="mt-20">
            Seleziona il numero di box colazione (composto da: 3 brioches assortite (vuota, cioccolato e crema), 2 succhi di frutta di nostra produzione, 1 scatola di dragèes nocciola e cioccolato, 1 sacchetto di biscottini)
        </div>
        [select box-breakfast class:mine-select class:products "0" "1" "2" "3" "4" "5"]
    </div>

    <div class="sub-label">
        Box Apericena
        <div class="mt-20">
            Seleziona il numero di box Apericena (composto da: la nostra pizza, 2 vasetti di baccalà mantecato, 1 sacchetto di sfoglie salate al sesamo, 2 brioches salate)
        </div>
        [select box-dinner class:mine-select class:products "0" "1" "2" "3" "4" "5"]
    </div>
</div>
<div>
    <div class="b-label">
        Scegli come vuoi ricevere il tuo box: *
    </div>
    <select class="box-week mine-select">
        <option id="0"></option>
        <option id="1">ASPORTO: Pasticceria Buosi di Varese</option>
        <option id="2">ASPORTO: Pasticceria Buosi di Venegono Superiore</option>
        <option id="3">CONSEGNA A DOMICILIO</option>
    </select>
    [text* week-choice class:hide-cake]
</div>

<div>
    <div class="b-label">
        Nome *
    </div>
    [text* week-name]
</div>

<div>
    <div class="b-label">
        Cognome *
    </div>
    [text* week-surname]
</div>

<div>
    <div class="b-label">
        Email *
    </div>
    [email* week-email]
</div>

<div>
    <div class="b-label">
        Cellulare *
    </div>
    [tel* week-mobile]
</div>

<div class="address-section">
    <div class="b-label">
        Indirizzo di consegna<br/>
    </div>
    <div class="ml-30">
        <div class="box-note">
            <span><strong>Attenzione</strong> si ricorda che la consegna a domicilio degli ordini avverrà:</span><br/>
            <ul>
                <li> SABATO 16/5: (BOX COLAZIONE dalle ore 8.00 alle 12.00/BOX APERICENA dalle ore 8.00 alle 18.00) nei comuni di Castiglione Olona, Malnate, Tradate, Vedano Olona, Venegono Inf/Sup, Lonate Ceppino e Binago.</li>
                <li> DOMENICA 17/5: (BOX COLAZIONE dalle ore 8.00 alle 12.00/BOX APERICENA dalle ore 8.00 alle 18.00) nel comune di Varese.</li>
            </ul>
        </div>
        <div class="sub-label">
            Via e numero civico *
        </div>
        [text* week-address]
        <div class="sub-label">
            Città *
        </div>
        [select* week-city class:mine-select include_blank "Castiglione Olona" "Malnate" "Tradate" "Varese" "Vedano Olona" "Venegono Inferiore" "Venegono Superiore" "Lonate Ceppino" "Binago"]
        <div class="sub-label">
            Nominativo sul citofono *
        </div>
        [text* week-ring]
    </div>
</div>

<p>[acceptance week-accept] Ho letto e acconsento al <a href="http://www.buosi.it/contatti/privacy-policy/" target="_blank">trattamento dei dati personali *</a></p>
<p class="mt-30">[submit "Invia"]</p>